<a id="2"></a>
# <div style="padding:20px;color:white;margin:0;font-size:35px;font-family:Roboto;text-align:center;display:fill;border-radius:5px;background-color:#05014a;overflow:hidden"><b>HDSC - STAGE-B QUIZ</b></div>

In [1]:
# Importing Modules and Libraries

import pandas as pd
pd.set_option('display.max_columns',100)

import numpy as np

import datetime as dt

from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Loading dataset into the DataFrame

df = pd .read_csv("energydata_complete.csv")
df.head(5)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [4]:
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

üí° We can observe that there are no missing values in the dataset.

<a id="1.1"></a>
<h2 style="font-family: Roboto; font-size: 35px; font-style: normal; font-weight: normal; text-align:center; display:fill; text-decoration: none; padding:10px; letter-spacing: 1px; color: White; background-color:#05014a;"><b>Question 12</h2>

<h3 style="font-family: Roboto;text-align:center;letter-spacing: 1px;"><b>From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?</h3>

In [5]:
x=df[["T2"]] # Temperature in the lining room in Celsius

y=df[["T6"]] # Temperature outside the building

#splitting the dataset.
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3, random_state=42)

#Modeling.
LRM= LinearRegression()

#Fitting the LRM.
LRM.fit(x_train,y_train)

#Get prediction.
Prediction = LRM.predict(x_test)

#Get R2 score.
R2 = r2_score(y_test,Prediction)

# Round to two decimal places
R2= round(R2, 2)

print('Answer =',R2)

Answer = 0.64

<a id="1.1"></a>
<h2 style="font-family: Roboto; font-size: 35px; font-style: normal; font-weight: normal; text-align:center; display:fill; text-decoration: none; padding:10px; letter-spacing: 1px; color: White; background-color:#05014a;"><b>Instructions</h2>

<h3 style="font-family: Roboto;text-align:center;letter-spacing: 1px;"><b> Normalize the dataset using the MinMaxScaler after removing the following columns: [‚Äúdate‚Äù, ‚Äúlights‚Äù]. The target variable is ‚ÄúAppliances‚Äù. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set.  Answer the following questions:</h3>

In [6]:
# Drop ["date","lights"] columns.
df = df.drop(['date', 'lights'], axis = 1) 
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [7]:
# Normalize dataset using MinMxScaler.
scaler = MinMaxScaler()

Scaled_df = pd.DataFrame(scaler.fit_transform(df),  columns = df.columns)

In [8]:

# Splitting data into Feature variable and Target variable=Appliances
#get features and labels
Feat_df = Scaled_df.drop(columns=['Appliances'])

Targ_df = Scaled_df['Appliances']

In [9]:
#Splitting the dataset
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(Feat_df, Targ_df, test_size=0.3, random_state=42)

In [10]:
# Modeling
regressor = LinearRegression()
regressor.fit(x_train, y_train)

#Model Evaluation based on test dataset
y_pred = regressor.predict(x_test)

<a id="1.1"></a>
<h2 style="font-family: Roboto; font-size: 35px; font-style: normal; font-weight: normal; text-align:center; display:fill; text-decoration: none; padding:10px; letter-spacing: 1px; color: White; background-color:#05014a;"><b>Question 13</h2>

<h3 style="font-family: Roboto;text-align:center;letter-spacing: 1px;"><b>What is the Mean Absolute Error (in two decimal places)?</h3>

In [11]:
# Getting Mean Absolute Error
MAE = mean_absolute_error(y_test, y_pred)

# Round to two decimal places
MAE = round(MAE, 2)

print('Answer =',MAE)

Answer = 0.05

<a id="1.1"></a>
<h2 style="font-family: Roboto; font-size: 35px; font-style: normal; font-weight: normal; text-align:center; display:fill; text-decoration: none; padding:10px; letter-spacing: 1px; color: White; background-color:#05014a;"><b>Question 14</h2>

<h3 style="font-family: Roboto;text-align:center;letter-spacing: 1px;"><b>What is the Residual Sum of Squares (in two decimal places)?</h3>

In [12]:
# Getting Residual Sum of Squares
RSS = np.sum(np.square(y_test-y_pred))

# Round to two decimal places
RSS = round(RSS, 2)

print('Answer =',RSS)

Answer = 45.35

<a id="1.1"></a>
<h2 style="font-family: Roboto; font-size: 35px; font-style: normal; font-weight: normal; text-align:center; display:fill; text-decoration: none; padding:10px; letter-spacing: 1px; color: White; background-color:#05014a;"><b>Question 15</h2>

<h3 style="font-family: Roboto;text-align:center;letter-spacing: 1px;"><b>What is the Root Mean Squared Error (in three decimal places)?</h3>

In [13]:
# Getting Root Mean Squared Error
RMSE=np.sqrt(mean_squared_error(y_test, y_pred))

# Round to two decimal places
RMSE = round(RMSE, 3)

print('Answer =',RMSE)

Answer = 0.088

<a id="1.1"></a>
<h2 style="font-family: Roboto; font-size: 35px; font-style: normal; font-weight: normal; text-align:center; display:fill; text-decoration: none; padding:10px; letter-spacing: 1px; color: White; background-color:#05014a;"><b>Question 16</h2>

<h3 style="font-family: Roboto;text-align:center;letter-spacing: 1px;"><b>What is the Coefficient of Determination (in two decimal places)?</h3>

In [14]:
# Getting R2 Score
R21 = r2_score(y_test, y_pred)

# Round to two decimal places
R21 = round(R21, 2)

print('Answer =',R21)

Answer = 0.15

<a id="1.1"></a>
<h2 style="font-family: Roboto; font-size: 35px; font-style: normal; font-weight: normal; text-align:center; display:fill; text-decoration: none; padding:10px; letter-spacing: 1px; color: White; background-color:#05014a;"><b>Question 17</h2>

<h3 style="font-family: Roboto;text-align:center;letter-spacing: 1px;"><b>Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?</h3>

In [15]:
#Get Feature Weights
Feat_weights = pd.DataFrame({'Feature': Feat_df.columns.tolist(), 'Weight': regressor.coef_})

# Sort the feature weights in ascending order
Weights = Feat_weights.sort_values(by='Weight')

# Print Feature with Lowest Weight
print("Lowest Weight Feature:", Weights.iloc[0]['Feature'])

# Print Feature with Highest Weight
print("Highest Weight Feature:", Weights.iloc[-1]['Feature'])

Lowest Weight Feature: RH_2
Highest Weight Feature: RH_1

<a id="1.1"></a>
<h2 style="font-family: Roboto; font-size: 35px; font-style: normal; font-weight: normal; text-align:center; display:fill; text-decoration: none; padding:10px; letter-spacing: 1px; color: White; background-color:#05014a;"><b>Question 18</h2>

<h3 style="font-family: Roboto;text-align:center;letter-spacing: 1px;"><b>Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?</h3>

In [16]:
#Modeling using Ridge Regression Model
R_R = Ridge(alpha = 0.4)
R_R.fit(x_train,y_train)

#Prediction
R_R_y_pred = R_R.predict(x_test)

#Get Root Mean Square Error
R_R_RMSE = np.sqrt(mean_squared_error(y_test, R_R_y_pred))
R_R_RMSE=round(R_R_RMSE,3)
print("Old RMSE:",RMSE, "\nNew RMSE:",R_R_RMSE,"\nNo, The Root Mean Square Error remains unchanged")

Old RMSE: 0.088
New RMSE: 0.088
No, The Root Mean Square Error remains unchanged

<a id="1.1"></a>
<h2 style="font-family: Roboto; font-size: 35px; font-style: normal; font-weight: normal; text-align:center; display:fill; text-decoration: none; padding:10px; letter-spacing: 1px; color: White; background-color:#05014a;"><b>Question 19</h2>

<h3 style="font-family: Roboto;text-align:center;letter-spacing: 1px;"><b>Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?</h3>

In [17]:
#Modeling using Lasso Regression
LM = Lasso(alpha=0.001)
LM.fit(x_train, y_train)

#Get Feature Weights from Lasso Model(LM)
Feat_weights1 = pd.DataFrame({'Feature': Feat_df.columns.tolist(), 'Weight': LM.coef_})

#Get Non-Zero Feature Weights
NZW = len(Feat_weights1[Feat_weights1['Weight'] != 0])

print("Answer =", NZW)

Answer = 4

<a id="1.1"></a>
<h2 style="font-family: Roboto; font-size: 35px; font-style: normal; font-weight: normal; text-align:center; display:fill; text-decoration: none; padding:10px; letter-spacing: 1px; color: White; background-color:#05014a;"><b>Question 20</h2>

<h3 style="font-family: Roboto;text-align:center;letter-spacing: 1px;"><b>What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)</h3>

In [18]:
#Predictions using Lasso Model
LM_y_pred = LM.predict(x_test)

#Get Root Mean Square Error
LM_RMSE = np.sqrt(mean_squared_error(y_test, LM_y_pred))
LM_RMSE = round(LM_RMSE, 3)

print("Answer = ", LM_RMSE)

Answer =  0.094